.container1 {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(49, 230, 230, 0.274);
    margin-top: 0;
  }